header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0 15vw;
    align-items: center;
}
header .logo {
    text-align: left;
}
header .nav {
    text-align: right;
    list-style-type: none;
}
header .nav li {
    display: inline-block;
    padding: 8px 16px;
    color: #9599A4;
    cursor: pointer;
    
}
header .nav li:not(:last-child){
    margin-right: 8px;
}